

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <br> <br> <br>
            <form action="" method="post">
                <center>
                <textarea class="form-control" name="compilerText" rows="10" id="compiler" required></textarea>
                </center>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Kompiluj</button>
            </form>
        </div>
    </div>
</div>