<script type="text/javascript" src="js/register.js"></script>
<link href="css/register.css" rel="stylesheet">

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Rejestracja</h3>
                </div>
                <div class="panel-body">
                    <form role="form" onkeyup="return registerValidation()" method="post">
                        <div class="form-group">
                            <input type="login" name="login" id="login" class="form-control input-sm" placeholder="Nazwa użytkownika" required>
                        </div>
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="first_name" id="first_name" class="form-control input-sm floatlabel" placeholder="Imię" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Nazwisko" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Adres E-mail" required>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Hasło" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Powtórz hasło" required>
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Zarejestruj się" class="btn btn-lg btn-primary btn-block">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>